{#  SIE/DirectionBundle/Resources/views/form/supervision_equipement.html.twig#}

<div id="bloc_direction">
    <table>
        <tr>
            <b>NORD</b>
            <b>COOM</b>
            <b>SUD</b>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>

</div>