/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 avr. 2016, 19:59:25
    Author     : g.juillerot@quadran.fr
*/
body {
    background-color:lightsteelblue
}

#bloc_recherche {
    background-color:whitesmoke;
    color: navy;
    margin-left: 20px;
    min-height: 33vh;
    min-width: 33vh;
}

#bloc_resultat_principal{

    background-color:khaki;
    margin-left: 20px;
    min-height: 110vh;
    min-width: 33vh;
}
#bloc_resultat_contrat{

    position : relative;
    /*left:50%;*/
    background-color:lightblue;
    height:100%;
    margin-left: 20px;
    min-height: 110vh;
    min-width: 33vh;
}
#bloc_resultat_access{

    position : relative;
    /*left:50%;*/
    background-color:lightblue;
    height:100%;
    margin-left: 20px;
    min-height: 110vh;
    min-width: 33vh;
}
#bloc_resultat_equipement{

    position : relative;
    /*left:50%;*/
    background-color:lightblue;
    height:100%;
    margin-left: 20px;
    min-height: 110vh;
    min-width: 33vh;
}

.titreSection{
    color:red;
    position : relative;
    left:25%;

}
.tableSelection{
    /*border:1;*/

}
.bloc_resultat_details{
    background-color:khaki;
    margin-left: 20px;
    min-height: 33vh;
    min-width: 33vh;
}
.btn_annuler{

}

.btn_valider{}

.btn_precedent{}

.btn_suivant{
    background-image : url('../../Resources/public/index.jpeg');
    /*width: 189px;
    height: 70px;*/
    height: 37px;
    width: 37px; 
}

.btn_modifier{
    // background-image: url(../../Resources/public//xit.jpeg);
    /*width: 20px;
    height: 100px;*/
}
