{# SIE/CentralBundle/Resources/views/form/search.html.twig #}
  {% javascripts '@SIECoreBundle/Resources/public/js/front_search.js' %}
           {#     <script src="{{ asset_url }}"></script>          #}
            {% endjavascripts %}
<div id="bloc_recherche" ng-controller="search_controller">
    <b class="titreSection">Recherche</b>
    <br/>  
    <br/> 
    <b>Nom de la central : </b>
    <br/>
    <div class="ui-widget">
   <input  ng-model="lib_central" id="input_lib_central"  />
   {#<input  ng-model="lib_central" id="input_lib_central"     type="text"   >#}
  
    </div>
    <br/>
 
    <br/>
    <b>Code analytique :</b>
    <br/>
    <div class="ui-widget">
    <input id="input_code_analytique" ng-model="code_ana" type='text'>
    </div>
    
    <br/>
    <br/>
    <b>Société d'exploitation:</b>
    <br/>
    <div class="ui-widget">
    <input id="input_societe" type="text"ng-model="societe">
    </div>
    <br/>
    <br/>

</div>